<%- include("partials/headers.ejs") %>
    <title>Toluwase-Babalola | Data Scientist</title>
</head>
<body style="color:white; background-color: black;">
 <%- include("partials/second-headers.ejs") %>
 <div class="form-container " style="background-color: black; margin-top: 5%;" >
     <form action="/blog" method="POST" class="form-containerer" enctype="multipart/form-data">
    <p>
        <h6 style="text-align:center">BLOG</h6>
<input type="text" placeholder="Enter Your Name_" name="bloggername" class="text-boxe container-fluid" required></p>
<p>
<input type="text" placeholder="Enter Title Of Blog" name="blogtitle" class="text-boxe container-fluid" required>
</p>
<p style="display:none">
<input type="text" name="dater" value="<%= dataman %>">
</p>

<textarea type="text" placeholder="Write a Blog..." name="blogcontent" class="tap-box" rows="12"
maxlength="1001" autofocus="on" required></textarea>
    <p>
        <div class="image-file-wrapper">
            <label for="file" class="image-file-label">
              <span class="camera-icon ">📷</span>
              <span class="file-text">Choose an Image</span>
            </label>
            <input type="file" accept="image/*" name="image" id="file" class="image-file" onchange="updateLabel()">
          </div>
          
      
<div style="text-align: center; padding: 0% 1%;">
    <button type="submit" class=" btn btn-lg btn-dark beat" onclick="player()">
        SUBMIT</button>
<span style=" text-align: right;" class="content">
    Total Count:<span class="counter">0</span>/1000</span>
    </div>
</p>
 </form>
 </div>
 <script src="/index.js"></script>

    <%- include("partials/blog-footer.ejs") %>

