<%- include("partials/headers.ejs") %>
    <title>Toluwase-Babalola | Data Scientist</title>
</head>
<body>
 <%- include("partials/second-headers.ejs") %>
 <section class="first-section" style="padding-top: 4%; background-color: black; 
 clip-path: polygon(0, 0, 100% 0, 100% 100%, 73% 94%, 0 100%);">
    <div class="row container-fluid updated" style="padding-bottom: 0%;">
<div class="col-lg-6 col-md-6 col-sm-12" style="padding-right: 5%; margin-right: 0%;">
  <img src="/images/TOLUMAGE2.png" alt="" style="border-radius: 50%; padding-top: 4%; " class="phoneo" width="30%" >
  <span class="word powr" style="color: white;" style="margin-top: 2%;"></span>
    <div style="margin-left: 0%; color: white; padding: 4% 0%;">
    <div style="font-size: 2.5rem;" class="name">Toluwase-Babalola</div>
    <div class="stap">Email:  <b class="staped">toluwasebabalola44[@]gmail[dot]com</b></div>
    <div class="stap">Github:  <b class="staped">Xbabs</b></div>
    <div class="stap">Linkedin:  <b class="staped">/in/toluwasebabalola</b></div>
    <div class="stap">Data Scientist:  <b class="staped"> 
      : Data Mining, Statistical Analysis, Business Analysis, RNN, NLP, Text and Image classification,
Visualization and Interpretation
    </b></div>
    <div>
        <a href="https://twitter.com/thBabs" target="_blank"><i class="fa-brands fa-x-twitter fa-xl"></i></a> 
       <a href=" http://github.com/xbabs" target="_blank"><i class="fa-brands fa-github fa-xl"></i> </a>
       <a href="https://www.linkedin.com/in/toluwasebabalola" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        <a href="mailto:toluwasebabalola44@gmail.com" target="_blank"><i class="fa-solid fa-envelope fa-xl"></i></a>
</div>
    </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
  <div class="finaldate">
<img src="/images/TOLUMAGE.png" alt="" style="margin-top: 8%;">
<p>
  <span style="color: white; margin-left: 4%; margin-top: 4%;" class="word fila"></span>
</p>
<a href="/Toluwase Babalola CV.pdf" download="Toluwase Babalola CV.pdf">
<button class="btn-dark btn botman" style="margin-left: 6%;" id="downloadButton">
 Download CV</button>
 </a>
</div>
  </div>
 </section>
 <center style="margin-top: 1%;"><span class="relative">
 <img src="/images/TOLUMAGE2.png" alt="Toluwase-Babalola Image" width="6%"></span>
 </center>
 <section clas="In-Between-section">
<h4 style="color: #8f8f8f; text-align: center;  font-family: 'Clash Display', sans-serif; margin-top: 1%;">Experience and Membeships</h4>
<div class="timeline" style="padding-left: 3%;">
  <div class="works">
      <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
      <h5 class="mb-1"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>Maintenance Analyst</h5>
      <p class="mb-2">ExecuJet Aviation | <small style="color:#8f8f8f">2019 - 2020</small></p>
      <p style="color:#8f8f8f">
        • Created an algorithm with spreadsheets to the procedure after flight inspections with edit functionality, this allowed us
to report, document and track ground operations in the hangar. Adding this feature saved each manual maintenance
time by an average 15 minutes.
• Developed quick and simple methods to improve results on the interior and exterior surfaces of nosecones to increase
flight data recorder reusability by 1.5 times better. The data was revised and used to update separate Post-Flight and
scheduled inspection documents, specifically general procedure and specifications.
      </p>
  </div>
  <div class="works">
      <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
      <h5 class="mb-1"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>Data Science Intern</h5>
      <p class="mb-2">Cognizant | <small style="color:#8f8f8f">virtual training, May 2023</small></p>
      <p style="color: #8f8f8f;">
        Cognizant Virtual Experience Program on Forage [May 2023]. Conducted analysis of grocery store data
to improve estimated stock percentage. Developed a model for deploying an IoT sensor to monitor products’
temperature during storage thereby increasing sales.

      </p>
  </div>
  <div class="works">
      <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
      <h5 class="mb-1"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>MEMBERSHIPS</h5>
      <p class="mb-2" >Society Of Artificial Intelligence| <small style="color:#8f8f8f">Currently</small></p>
      <p style="color:#8f8f8f">
        I am an active member of the Society of Artificial Intelligence, affiliated with the International Association of Engineers. I have also participated in the Internship Experience UK: Engineering Infrastructure program facilitated by Bright Network. Furthermore, I contribute to the Python Software Foundation, collaborating with other Python enthusiasts on open-source projects.
          </p>
  </div>
</div>
<section class="second-inbetween-section">
  <h2 style="color:#8f8f8f; text-align: left;  font-family: 'Clash Display', sans-serif; margin-top: 2%;
  margin-left: 3%;">One Of My Projects</h2>
  <div class="card mb-3 boxboy" style="max-width: 95%; margin: 0% 2%; padding: 2% 0%;">
    <div class="row g-0">
      <div class="col-md-5">
        <img src="/images/maternal blood.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-7" style="padding: 4% 2%;">
        <div class="card-body">
          <h5 class="card-title">Maternal Systolic blood pressure prediction using a ML model</h5>
          <p class="card-text">
            Incorporated causal factors such as age, blood sugar, and diastolic blood pressure to improve the accuracy of the model. Utilized Principal Component Analysis (PCA) to reduce dimensionality and enhance performance for identifying challenges during and after pregnancy.
          </p><i class="fa-brands fa-github fa-xl pricee"></i>
          <p class="card-text" style="float: right;"><a href="https://github.com/xbabs/-Maternal-Systolic-blood-pressure-prediction-using-a-ML-model" target="_blank" class="textfor">
            <small> Github Repo</small></a></p>
        </div>

      </div>
    </div>
  </div>

</section>
 </section>
 <section class="Second-Section container-fluid" id="topper">
    <h2 class="about-title">ABOUT ME</h2>
    <div class="about-content">
    Welcome to my portfolio website! As a data scientist with expertise in machine learning, I aim to explore my skills, experience, and projects in the field of data science and how real-world problems are solved. With 1+ years of experience in the industry, I have worked on a wide range of projects that have enhanced my skills in statistical analysis and predictive modeling for production. My passion for solving complex problems using data-driven insights drives me to excel in this field. I’m open to collaborate on open-source projects on model development, building and deployment for production
    </div>
    <div class="journey-so-far">
        <h1 style="text-align: center; font-weight: 700;">Journey So far</h1>
        <div class="row container accomplishment">
          <div class="col-lg-3 col-md-3 col-sm-12  accomplishment-content">
            <h1  class="headie oneof">5</h1>
            <span ><b>Happy Clients</b></span>
          </div>
          <div  class="col-lg-3 col-md-3 col-sm-12  accomplishment-content">
            <h1   class="headie oneof">5</h1>
            <span><b>Completed Projects</b></span>
          </div>
          <div  class="col-lg-3 col-md-3 col-sm-12  accomplishment-content">
            <h1 class="headie oneof">1+</h1>
            <span><b>Years Of Experience</b></span>
          </div>
        </div>
    </div>
    <div>
    </div>
 </section>
 <section class="third wow fadeInUp" data-wow-delay="0.1s" style="margin: 0% 4%;">
<h2 class="skiller">Skills</h2>
<p style="text-align: center; font-family: 'Clash Display', sans-serif;">As a data scientist, I possess a diverse skill in:</p>
   
                      <div class="row container-fluid skiller">

                        <div class="col-sm-3 col-lg-3 col-md-3">
                          <div class="skill mb-4 phoner">
                              <div class="d-flex justify-content-between">
                                
                                  <p class="mb-2"> Machine Learning</p>
                                  <p class="mb-2"><img src="/images/brain.png" alt="" width="30%" heifgt="20%"></p>
                              </div>
                          </div>
                          </div>
              
                          <div class="col-sm-3 col-lg-3 col-md-3">
                            <div class="skill mb-4 phoner">
                                <div class="d-flex justify-content-between">
                                    <p class="mb-2">Statistical Analysis</p>
                                    <p class="mb-2"><img src="/images/analytics.png" alt="" width="30%" heifgt="20%"></p>
                                </div>
                            </div>
                            </div>
                            <div class="col-sm-3 col-lg-3 col-md-3">
                              <div class="skill mb-4 phoner">
                                  <div class="d-flex justify-content-between">
                                      <p class="mb-2">Data Visualization </p>
                                      <p class="mb-2"><img src="/images/data-visualization.png" alt="" width="30%" heifgt="20%"></p>
                                  </div>
                              </div>
                              </div>
                              <div class="col-sm-3 col-lg-3 col-md-3">
                                <div class="skill mb-4 phoner">
                                    <div class="d-flex justify-content-between">
                                        <p class="mb-2">Python Programming</p>
                                        <p class="mb-2"><img src="/images/python.png" alt="" width="30%" heifgt="20%" class="python"></p>
                                    </div>
                                </div>
            





              
                   
                      
                           
                
                    </div>
                    <div class="row container-fluid skiller">

                      <div class="col-sm-3 col-lg-3 col-md-3">
                        <div class="skill mb-4 phoner">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">SQL and Database Management</p>
                                <p class="mb-2"><img src="/images/sql.png" alt="" width="30%" heifgt="20%"></p>
                            </div>
                        </div>
                        </div>
            
                        <div class="col-sm-3 col-lg-3 col-md-3">
                          <div class="skill mb-4 phoner">
                              <div class="d-flex justify-content-between">
                                  <p class="mb-2">Big Data Technologies(Hadoop, Spark)</p>
                                  <p class="mb-2"><img src="/images/sql-server.png" alt="" width="30%" heifgt="20%"></p>
                              </div>
                          </div>
                          </div>
                          <div class="col-sm-3 col-lg-3 col-md-3">
                            <div class="skill mb-4 phoner">
                                <div class="d-flex justify-content-between">
                                    <p class="mb-2">Deep Learning (Tensorflow & keras) </p>
                                    <p class="mb-2"><img src="/images/deep-learning.png" alt="" width="30%" heifgt="20%"></p>
                                </div>
                            </div>
                            </div>
                            <div class="col-sm-3 col-lg-3 col-md-3">
                              <div class="skill mb-4 phoner">
                                  <div class="d-flex justify-content-between">
                                      <p class="mb-2">Natural Language Processing</p>
                                      <p class="mb-2"><img src="/images/nlp.png" alt="" width="30%" heifgt="20%"></p>
                                  </div>
                              </div>
          





            
                 
                    
                         
              
                  </div>
 </section>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
 <script src="/index.js"></script>
    <%- include("partials/last-footer.ejs") %>
    
