<%- include("partials/headers.ejs") %>
    <title>Toluwase-Babalola | Data Scientist</title>
    <style>
.skills {
  padding: 50px;
  background-color: #292929;
  text-align: center;
  width: 100%; /* Set the width to 100% */
  box-sizing: border-box; /* Ensure padding doesn't increase the width */
}

.skills h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #EDEDED;
}
.mapwork{
  background-color: #292929;
}
.workmap{
  background-color: #383838;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 2% 0%;
  padding: 15px;
}

.skill-category {
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 5px;
  background-color: #383838;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skill-category h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #EDEDED;
}
.sda{
  filter: brightness(0) invert(1);
  padding-left: 2%;
}
ul {
  list-style: none;
}

li {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #A0A0A0;
}

/* Optional: Add hover effect to list items */
li:hover {
  color: white;
  cursor: pointer;
}

    </style>
</head>
<body>
 <%- include("partials/headman.ejs") %>
 <section class="first-section" style="padding-top: 9%; background-color: black; 
 clip-path: polygon(0, 0, 100% 0, 100% 100%, 73% 94%, 0 100%);">
    <div class="row container-fluid updated" style="padding-bottom: 0%;">
<div class="col-lg-6 col-md-12 col-sm-12" style="padding-right: 0%; margin-right: 0%; ">
  <div class="phoneEdit">
    <a href="https://twitter.com/thBabs" target="_blank"><i class="fa-brands lap fa-x-twitter fa-xl"></i></a> 
   <a href=" http://github.com/xbabs" target="_blank"><i class="fa-brands lap fa-github fa-xl"></i> </a>
   <a href="https://www.linkedin.com/in/toluwasebabalola" target="_blank"><i class="fa-brands lap fa-linkedin fa-xl"></i></a>
    <a href="mailto:toluwasebabalola44@gmail.com" target="_blank"><i class="fa-solid lap  fa-envelope fa-xl"></i></a>
    <a href="tel:+447405613144"><i class="fa-solid fa-phone fa-lg" ></i></a>
</div>
  <img src="/images/hub.jpg" alt="" style="border-radius: 50%; padding-top: 4%; " class="phoneo" width="30%" >
  
  <span class="word powr" style="color: white;" style="margin-top: 2%;"></span>
    <div style="margin-left: 0%; color: white; padding: 4% 0%;"><span class="name" style="font-size: 2.5rem;" ></span>
    <div  class="name">Hello, I'm Toluwase  <img src="/images/how.png" class="sda" alt=""  width="10%" style="color: white;">
   <p style="font-size: 1rem; font-weight: 100;" class="pal"> <span class="pal">I enjoy using numbers to improve real-world solutions</span>
    </p>
   </div>
    <div class="stap" style="text-align: center;"> <button class="btn btn-light" style="font-weight: 1000;">ABOUT ME</button> <span class="staped"> <div style="text-align: center; margin-top: 2%;">
 As a data scientist with expertise in machine learning, 
 I consider myself first and foremost a problem solver while implementing an entire data science process - from understanding business needs, data wrangling, exploratory data analysis, building predictive models, to communicating data insights.
  With 1+ years of experience, I have worked on a wide range of projects that have enhanced my skills in statistical analysis and predictive modeling for production. My passion for solving complex problems using data-driven insights drives me to excel in this field. I’m open to collaborate on open-source projects on model development, building and deployment for production.
  Outside of work, I enjoy music, sports and chess and try new things; this helps me keep an open and creative mindset.

      </div>
    </span></div>

    </div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12" style="padding-left: 4%;">
  <div class="finaldate phoneo-2">
<img src="/images/hub.jpg" alt="" style="margin-top: 8%; border-radius: 50%; width: 40%;" class="phoneo-2">
<p>
  <span style="color: white; margin-left: 7%; margin-top: 4%; text-align: center;" class="word fila"></span>
</p>
<a href="/Toluwase Babalola CV.pdf" download="Toluwase Babalola CV.pdf">
<button class="btn-dark btn btn-lg botman" style="margin-left: 7%;" id="downloadButton">
 Download CV</button>
 </a>
</div>
  </div>
 </section>
 <center style="margin-top: 1%;"><span class="relative">
 <img src="/images/TOLUMAGE2.png" alt="Toluwase-Babalola Image" width="6%"></span>
 </center>
 <!-- <section class="In-Between-section powd">
<h4 style="color: #8f8f8f; text-align: center;  font-family: 'Clash Display', sans-serif; margin-top: 1%;">Experience and Membeships</h4>
<div class="timeline" style="padding-left: 3%;">
  <div class="works">
      <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
      <h5 class="mb-1"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>Maintenance Analyst</h5>
      <p class="mb-2">ExecuJet Aviation | <small style="color:#8f8f8f">2019 - 2020</small></p>
      <p style="color:#8f8f8f">
        • Created an algorithm with spreadsheets to the procedure after flight inspections with edit functionality, this allowed us
to report, document and track ground operations in the hangar. Adding this feature saved each manual maintenance
time by an average 15 minutes.
• Developed quick and simple methods to improve results on the interior and exterior surfaces of nosecones to increase
flight data recorder reusability by 1.5 times better. The data was revised and used to update separate Post-Flight and
scheduled inspection documents, specifically general procedure and specifications.
      </p>
  </div>
  <div class="works">
      <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
      <h5 class="mb-1"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>Data Science Intern</h5>
      <p class="mb-2">Cognizant | <small style="color:#8f8f8f">virtual training, May 2023</small></p>
      <p style="color: #8f8f8f;">
        Cognizant Virtual Experience Program on Forage [May 2023]. Conducted analysis of grocery store data
to improve estimated stock percentage. Developed a model for deploying an IoT sensor to monitor products’
temperature during storage thereby increasing sales.

      </p>
  </div>
  <div class="works">
      <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
      <h5 class="mb-1"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>MEMBERSHIPS</h5>
      <p class="mb-2" >Society Of Artificial Intelligence| <small style="color:#8f8f8f">Currently</small></p>
      <p style="color:#8f8f8f">
        I am an active member of the Society of Artificial Intelligence, affiliated with the International 
        Association of Engineers. I have also participated in the Internship Experience UK: Engineering 
        Infrastructure program facilitated by Bright Network. Furthermore, I contribute to the Python Software Foundation, 
        collaborating with other Python enthusiasts on open-source projects.
          </p>
  </div>
</div> -->


<!-- <section>
 <div class="mapwork" style="margin: 0% 5%; padding: 7% 7%; color: white; border-radius: 20px;">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-inner">
      <h4 style="color: #8f8f8f; text-align: center;  font-family: 'Clash Display', sans-serif; margin-top: 1%;
      font-weight: 900;">Experience and Membeships</h4>
      <p style="color:#8f8f8f">
        <div class="works workmap">
          <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
          <h5 class="mb-1"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>Maintenance Analyst</h5>
          <p class="mb-2">ExecuJet Aviation | <small style="color:#8f8f8f">20
            19 - 2020</small></p>
          <p style="color:#8f8f8f">
            • Created an algorithm with spreadsheets to the procedure after flight inspections with edit functionality, this allowed us
    to report, document and track ground operations in the hangar. Adding this feature saved each manual maintenance
    time by an average 15 minutes.
    • Developed quick and simple methods to improve results on the interior and exterior surfaces of nosecones to increase -->
    <!-- flight data recorder reusability by 1.5 times better. The data was revised and used to update separate Post-Flight and
    scheduled inspection documents, specifically general procedure and specifications.
          </p>
      </div>
      <div class="works workmap">
          <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
          <h5 class="mb-1"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>Data Science Intern</h5>
          <p class="mb-2">Cognizant | <small style="color:#8f8f8f">virtual training, May 2023</small></p>
          <p style="color: #8f8f8f;">
            Cognizant Virtual Experience Program on Forage [May 2023]. Conducted analysis of grocery store data
    to improve estimated stock percentage. Developed a model for deploying an IoT sensor to monitor products’
    temperature during storage thereby increasing sales.
    
          </p>
      </div> -->
      <!-- <div class="works workmap">
          <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
          <h5 class="mb-1"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>MEMBERSHIPS</h5>
          <p class="mb-2" >Society Of Artificial Intelligence| <small style="color:#8f8f8f">Currently</small></p>
          <p style="color:#8f8f8f">
            I am an active member of the Society of Artificial Intelligence, affiliated with the International 
            Association of Engineers. I have also participated in the Internship Experience UK: Engineering 
            Infrastructure program facilitated by Bright Network. Furthermore, I contribute to the Python Software Foundation, 
            collaborating with other Python enthusiasts on open-source projects.
              </p>
      </div>
    </div> 
 
  
</section> -->
<section class="second-inbetween-section">
  <h2 style="color:#8f8f8f; text-align: left;  font-family: 'Clash Display', sans-serif; margin-top: 2%;
  margin-left: 3%;">One Of My Projects</h2>
  <div class="card mb-3 boxboy" style="max-width: 95%; margin: 0% 2%; padding: 2% 0%;">
    <div class="row g-0">
      <div class="col-md-5">
        <img src="/images/maternal blood.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-7" style="padding: 4% 2%;">
        <div class="card-body">
          <h5 class="card-title">Maternal Systolic blood pressure prediction using a ML model</h5>
          <p class="card-text">
            Incorporated causal factors such as age, blood sugar, and diastolic blood pressure to improve the accuracy of the model. Utilized Principal Component Analysis (PCA) to reduce dimensionality and enhance performance for identifying challenges during and after pregnancy.
          </p><i class="fa-brands fa-github fa-xl pricee"></i>
          <p class="card-text" style="float: right;"><a href="https://github.com/xbabs/-Maternal-Systolic-blood-pressure-prediction-using-a-ML-model" target="_blank" class="textfor">
            <small> Github Repo</small></a></p>
        </div>

      </div>
    </div>
  </div>

</section>
 </section>
 <section class="Second-Section container" id="topper">
    <!-- <h2 class="about-title">ABOUT ME</h2>
    <div class="about-content">
    Welcome to my portfolio website! As a data scientist with expertise in machine learning, I aim to explore my skills, experience, and projects in the field of data science and how real-world problems are solved. With 1+ years of experience in the industry, I have worked on a wide range of projects that have enhanced my skills in statistical analysis and predictive modeling for production. My passion for solving complex problems using data-driven insights drives me to excel in this field. I’m open to collaborate on open-source projects on model development, building and deployment for production
    </div> -->
    <div class="journey-so-far">
        <h1 style="text-align: center; font-weight: 700;">Journey So far<img src="/images/arrow.png" width="10%" height="5%"></h1>
        <div class="row container accomplishment">
          <div class="col-lg-3 col-md-3 col-sm-12  accomplishment-content">
            <h1  class="headie oneof">5</h1>
            <span ><b>Happy Clients</b></span>
          </div>
          <div  class="col-lg-3 col-md-3 col-sm-12  accomplishment-content">
            <h1   class="headie oneof">5</h1>
            <span><b>Completed Projects</b></span>
          </div>
          <div  class="col-lg-3 col-md-3 col-sm-12  accomplishment-content">
            <h1 class="headie oneof">1+</h1>
            <span><b>Years Of Experience</b></span>
          </div>
        </div>
    </div>
    <div>
    </div>
 </section>
 <section class="third wow fadeInUp" data-wow-delay="0.1s" style="margin: 0% 2%;">
<h2 class="skiller">Skills</h2>

                  </div>
                  <section class="skills container-fluid">
                   
                  
                    <div class="row">
                      <!-- Languages -->
                      <div class="col-md-6 col-lg-4">
                        <div class="skill mb-4 skill-category">
                          <h3>Languages</h3>
                          <ul>
                            <li>Python<img src="/images/python.png " width="10%"></li>
                            <li>SQL<img src="/images/sql-server.png " width="10%"></li>
                            <!-- <li>R<img src="/images/r.png " width="10%"></li> -->
                          </ul>
                        </div>
                      </div>
                  
                      <!-- Libraries -->
                      <div class="col-md-6 col-lg-4">
                        <div class="skill mb-4 skill-category">
                          <h3>Libraries</h3>
                          <ul>
                            <li>Pandas<img src="/images/panda.png " width="10%"></li>
                            <li>Numpy<img src="/images/numpy.svg" width="10%"></li>
                            <li>Scipy<img src="/images/scipy.svg" width="10%"></li>
                            <li>Matplotlib<img src="/images/matplotlib.svg" width="10%"></li>
                            <li>Seaborn<img src="/images/seaborn.svg" width="10%"></li>
                          </ul>
                        </div>
                      </div>
                  
                      <!-- ML Frameworks -->
                      <div class="col-md-6 col-lg-4">
                        <div class="skill mb-4 skill-category">
                          <h3>ML Frameworks</h3>
                          <ul>
                            <li>PyTorch<img src="/images/pytorch.svg" width="10%"></li>
                            <li>TensorFlow<img src="/images/tensorflow.svg" width="10%"></li>
                            <li>Keras<img src="/images/keras.svg" width="10%"></li>
                            <li>Scikit-learn<img src="/images/scify.svg" width="10%"></li>
                          </ul>
                        </div>
                      </div>
                  
                      <!-- Big Data & Visualization -->
                      <div class="col-md-6 col-lg-4">
                        <div class="skill mb-4 skill-category">
                          <h3>Big Data</h3>
                          <ul>
                            <li>Apache Spark<img src="/images/spark.png" width="20%"></li>
                            <li>Airflow<img src="/images/airflow.svg" width="10%"></li>
                          </ul>
                        </div>
                        <div class="skill mb-4 skill-category">
                          <h3>Visualization</h3>
                          <ul>
                            <li>Excel<img src="/images/excel.svg " width="20%"></li>
                            <li>Power BI<img src="/images/power.svg " width="10%"></li>
                          </ul>
                        </div>
                      </div>
                  
                      <!-- Database & IDEs -->
                      <div class="col-md-6 col-lg-4">
                        <div class="skill mb-4 skill-category">
                          <h3>Database</h3>
                          <ul>
                            <li>SQL<img src="/images/sql-server.png " width="10%"></li>
                            <li>MongoDB<img src="/images/mongo.svg " width="10%"></li>
                            <li>NoSQL<img src="/images/redis.svg " width="10%"></li>
                          </ul>
                        </div>
                        <div class="skill mb-4 skill-category">
                          <h3>IDEs</h3>
                          <ul>
                            <li>Visual Studio<img src="/images/studio.svg " width="10%"></li>
                            <li>Jupyter<img src="/images/jupyter.svg " width="10%"></li>
                            <li>Google Colab<img src="/images/colab.png " width="20%"></li>
                            <li>Azure ML Studio<img src="/images/azure.svg " width="20%"></li>
                          </ul>
                        </div>
                      </div>
                  
                      <!-- Cloud -->
                      <div class="col-md-6 col-lg-4">
                        <div class="skill mb-4 skill-category">
                          <h3>Cloud</h3>
                          <ul>
                            <li>GCP<img src="/images/gcp.svg " width="10%"></li>
                            <li>AWS<img src="/images/amazon.png " width="10%"></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </section>
                  
             
                   
                  
 </section>
 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
 <script src="/index.js"></script>
     <%- include("partials/last-footer.ejs") %>


     
    
