<%- include("partials/headers.ejs") %>
<title>Toluwase-Babalola | Data Scientist</title>


</head>
<body style="overflow-x: hidden;">
    <%- include("partials/second-headers.ejs") %>
 
    
    <section class="project-head" >
      <div style="background-color: black; margin-top: 0%; padding: 0.5% 0%;" class="fixed">
      <ul class="nav justify-content-center " style="color:#8f8f8f">
        <li class="nav-item">
          <a class="nav-link  active" aria-current="page" href="#" style="color:#8f8f8f;
          ">Environmental</a>
        </li>
        <li class="nav-item navcar">
          <a class="nav-link navcar" href="#business" style="color:#8f8f8f;">Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#health" style="color:#8f8f8f">Health</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#education" style="color:#8f8f8f">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#transportation" style="color:#8f8f8f">Transportation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="technology" style="color:#8f8f8f">Technology</a>
        </li>
      </ul>
      </div>
        <h1 style="font-size: 3rem;" class="sub" style="    font-family: 'Clash Display', sans-serif;">Featured Projects</h1>
        
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" id="environment">
<span class="devad">
    <div class="row featurette rowcall" >
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1" style="font-weight: 900; font-family: lato;">Estimated Stock Percentage Prediction</h2>
        <p class="lead" style="color:#8f8f8f">
          Implemented a model to improve sales and customer experience and acting a recommender for 
          the clients based on the provided data. The model would be deployed into a temperature IoT sensor 
          to monitor and detect stocks during and after storage.
          <p>
            <a href="https://github.com/xbabs/Predicting-the-Estimated-Stock-Percentage" style="color:white">
              <button type="button" class="btn btn-light">
         Read more</button><i class="fa-brands fa-github fa-xl conta"></i>
            </a>
          </p>
        </p>
  
      </div>
      <div class="col-md-5">
        <img src="images/stock.jpg" class="bd-placeholder-img bd-placeholder-img-lg 
        featurette-image img-fluid mx-auto" width="400" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>
        </img>
      </div>
    </div>
  </span>
    <span class="deved">
      <div class="row featurette rowcall" >
        <div class="col-md-7">
          <img src="images/stock.jpg" class="bd-placeholder-img bd-placeholder-img-lg 
          featurette-image img-fluid mx-auto" width="400" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>
          </img>
    
        </div>
        <div class="col-md-5">
          <h2 class="featurette-heading fw-normal lh-1" style="font-weight: 900; font-family: lato;">Estimated Stock Percentage Prediction</h2>
          <p class="lead" style="color:#8f8f8f">
            Implemented a model to improve sales and customer experience and acting a recommender for 
            the clients based on the provided data. The model would be deployed into a temperature IoT sensor 
            to monitor and detect stocks during and after storage.
            <p>
              <a href="https://github.com/xbabs/Predicting-the-Estimated-Stock-Percentage" style="color:white">
                <button type="button" class="btn btn-light">
           Read more</button><i class="fa-brands fa-github fa-xl conta"></i>
              </a>
            </p>
          </p>
          </div>
        </div>
      </div>
    </span>
    <hr class="featurette-divider" id="technology">

  
<span class="devad">
    <div class="row featurette rowcall" >
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1" style="font-weight: 900; font-family: lato;">Malicious URL detection using Google's BERT and LSTM</h2>
        <p class="lead"  style="color:#8f8f8f">
          Developed and trained LSTM and BERT mo
          dels on over 500,000 URLs. The LSTM model 
          achieved an impressive accuracy of 91.36%, outperforming the P
          re-trained BERT model due to hardware malfunctions.
          <p>
            <a href="https://github.com/xbabs/Detecting-Malicious-URLs-using-Google-s-BERT-and-LSTM-models" style="color:white">
              <button type="button" class="btn btn-light">
                Read more</button><i class="fa-brands fa-github fa-xl conta"></i></a>
          </p>
        </p>
   
      </div>
      <div class="col-md-5 order-md-1" >
        <img  src="/images/chrome.jpg"class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" style="padding: 0% 0%;"role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false" style="padding: 0% 2%;"><title>Placeholder</title><rect width="400%" height="400%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>
      </div>
    </div>
    </span>
    <span class="deved">
      <div class="row featurette rowcall" >
        <div class="col-md-7 order-md-2">
          <img  src="/images/chrome.jpg"class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" style="padding: 2% 0%;"role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false" style="padding: 0% 2%;"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>

 
        </div>
        <div class="col-md-5 order-md-1">
    
          <h2 class="featurette-heading fw-normal lh-1" style="font-weight: 900; font-family: lato;">Malicious URL detection using Google's BERT and LSTM</h2>
          <p class="lead"  style="color:#8f8f8f">
            Developed and trained LSTM and BERT mo
            dels on over 500,000 URLs. The LSTM model 
            achieved an impressive accuracy of 91.36%, outperforming the P
            re-trained BERT model due to hardware malfunctions.
            <p>
              <a href="https://github.com/xbabs/Detecting-Malicious-URLs-using-Google-s-BERT-and-LSTM-models" style="color:white">
                <button type="button" class="btn btn-light">
                  Read more</button><i class="fa-brands fa-github fa-xl conta"></i></a>
            </p>
          </p>
     </div>
        </div>
      </div>
    </span>

    <hr class="featurette-divider rowcall" id="transportation">
<span class="devad">
    <div class="row featurette" >
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1" style="font-weight: 900; font-family: lato;"> Detecting CO2 emission in motor vehicles </h2>
        <p class="lead"  style="color:#8f8f8f">
          Implemented a kNeighbor classifier to train a model on a dataset of 
          motor vehicle emissions data. Achieved a 4% improvement in fuel consumption, 
          reducing CO2 emissions and increasing vehicle efficiency.
          <p>
            <a href="https://github.com/xbabs/FUEL-CONSUMPTION-RATING-Detecting-CO2-emissions-in-motor-vehicles" style="color:white">
              <button type="button" class="btn btn-light">
                Read more</button> <i class="fa-brands fa-github fa-xl conta"></i>  </a>
          </p>
        </p>    
     
          </div>
      <div class="col-md-5">
        <img src="/images/car.jpg"class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>
      </div>
    </div>
    </span>
    <span class="deved">
      <div class="row featurette" >
        <div class="col-md-7">
          <img src="/images/car.jpg"class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>
</div>
<div class="col-md-5">
  </div>
  <h2 class="featurette-heading fw-normal lh-1" style="font-weight: 900; font-family: lato;"> Detecting CO2 emission in motor vehicles </h2>
  <p class="lead"  style="color:#8f8f8f">
    Implemented a kNeighbor classifier to train a model on a dataset of 
    motor vehicle emissions data. Achieved a 4% improvement in fuel consumption, 
    reducing CO2 emissions and increasing vehicle efficiency.
    <p>
      <a href="https://github.com/xbabs/FUEL-CONSUMPTION-RATING-Detecting-CO2-emissions-in-motor-vehicles" style="color:white">
        <button type="button" class="btn btn-light">
          Read more</button> <i class="fa-brands fa-github fa-xl conta"></i>  </a>
    </p>
  </p>    
    </span>
  

    <hr class="featurette-divider" id="health">
    <span class="devad">
    <div class="row featurette rowcall" >
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1" style="font-weight: 900; font-family: lato;">Maternal Systolic blood pressure prediction using a ML model</h2>
        <p class="lead"  style="color:#8f8f8f">
          Incorporated causal factors such as age, blood sugar, and diastolic bl
          ood pressure to improve the accuracy of the model. Utilized Principal C
          omponent Analysis (PCA) to reduce dimensionality and enhance performance f
          or identifying challenges during and after pregnancy.
          <p>
            <a href="https://github.com/xbabs/-Maternal-Systolic-blood-pressure-prediction-using-a-ML-model" style="color:white">
              <button type="button" class="btn btn-light">
                Read more</button><i class="fa-brands fa-github fa-xl conta"></i>
            </a>
          </p>
        </p>
  
      </div>
      <div class="col-md-5 order-md-1">
        <img  src="/images/newman.jpg"class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" xmlns="http://www.w3.org/2000/svg" style="background-color: white;" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false" style="padding: 0% 2%;"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>
      </div>
    </div>



</span>
<span class="deved">
  <div class="row featurette rowcall" >
    <div class="col-md-7 order-md-2">
      <img  src="/images/newman.jpg"class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" xmlns="http://www.w3.org/2000/svg" style="background-color: white;" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false" style="padding: 0% 2%;"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>
      </div>
      <div class="col-md-5 order-md-1">
        <h2 class="featurette-heading fw-normal lh-1" style="font-weight: 900; font-family: lato;">Maternal Systolic blood pressure prediction using a ML model</h2>
        <p class="lead"  style="color:#8f8f8f">
          Incorporated causal factors such as age, blood sugar, and diastolic bl
          ood pressure to improve the accuracy of the model. Utilized Principal C
          omponent Analysis (PCA) to reduce dimensionality and enhance performance f
          or identifying challenges during and after pregnancy.
          <p>
            <a href="https://github.com/xbabs/-Maternal-Systolic-blood-pressure-prediction-using-a-ML-model" style="color:white">
              <button type="button" class="btn btn-light">
                Read more</button><i class="fa-brands fa-github fa-xl conta"></i>
            </a>
          </p>
        </p>
        </div>
</span>
  </div> 
  
</section>
  </section> 


<footer>
<%- include("partials/second-footer.ejs") %>
</footer>