<%- include("partials/headers.ejs") %>
<title>Toluwase-Babalola | Data Scientist</title>
</head>
<body>
    <%- include("partials/second-headers.ejs") %>
    <section class="project-head">
        <h1 style="font-size: 3rem;">Welcome To My Projects</h1>
        <p style="color: #8f8f8f;">Featured Projects</p>
        <p style="color:#8f8f8f;">Explore some of my notable data science projects that demonstrate my capabilities:</p>
        <div class="row container-fluid">
<div class="col-lg-6 col-sm-12 col-md-6">
    <div class="card mb-3 project-explore" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="color: black;">Maternal Systolic blood pressure prediction using a ML model</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">
                <button type="button" class="btn btn-danger" style="float:right">Explore</button>
              </small></p>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="col-lg-6 col-sm-12 col-md-6">
    <div class="card mb-3 project-explore" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/images/google.png" class="img-fluid rounded-start gogo" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="color: white;">Malicious URL detection using Google's BERT and LSTM</h5>
              <p class="card-text" style="color: #8f8f8f;">
                Developed and trained LSTM and BERT models on over 500,000 URLs. The LSTM model achieved an impressive accuracy of 91.36%, outperforming the Pre-trained BERT model due to hardware malfunctions.
                 </p>
              <p class="card-text"><small class="text-body-secondary">
                <button type="button" class="btn btn-danger" style="float:right">Explore</button>
              </small></p>
            </div>
          </div>
        </div>
      </div>
</div>
        </div>
    </section>
<%- include("partials/footers.ejs") %>