<%- include("partials/headers.ejs") %>
<title>Toluwase-Babalola | Data Scientist</title>
</head>
<body>
    <%- include("partials/second-headers.ejs") %>
    <section class="project-head">
        <h1 style="font-size: 3rem;" class="sub">Welcome To My Projects</h1>
        <p style="color: #8f8f8f;">Featured Projects</p>
        <p style="color:#8f8f8f;">Explore some of my notable data science projects that demonstrate my capabilities:</p>
        <div class="row container-fluid" style="margin: 0% auto;">
<div class="col-lg-6 col-sm-12 col-md-12">
    <div class="card mb-3 project-explore submax" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./images/stock.png" class="img-fluid rounded-start gog" alt="...">
            <div style="margin-top: 5%;">Explore on
         <a href="https://github.com/xbabs/-Maternal-Systolic-blood-pressure-prediction-using-a-ML-model" target="_blank">
              <button type="button" class="btn btn-outline-light github" style="margin: 4% 0%;">
                <i class="fa-brands fa-github github fa-xl"></i></button></a>
              </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="color: white;">Estimated Stock Percentage Prediction </h5>
              <p class="card-text"
              style="color: #8f8f8f;">
              Implemented a model to improve sales and customer experience and acting a recommender for the clients based on the provided data. The model would be deployed into a temperature IoT sensor to monitor and detect stocks during and after storage.
            </p>
              <p class="card-text"><small class="">
              
              </small></p>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="col-lg-6 col-sm-12 col-md-12 phone-again">
    <div class="card mb-3 project-explore submax" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4 phone-again" style="background-color: white;">
            <img src="/images/chrome.png" class="img-fluid rounded-start gogo" alt="...">
            <p style="color: black;">Google</p>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="color: white;">Malicious URL detection using Google's BERT and LSTM</h5>
              <p class="card-text" style="color: #8f8f8f;">
                Developed and trained LSTM and BERT models on over 500,000 URLs. The LSTM model achieved an impressive accuracy of 91.36%, outperforming the Pre-trained BERT model due to hardware malfunctions.
               <tex style="color: white;"> Explore on</text>
                <a href="https://github.com/xbabs/Detecting-Malicious-URLs-using-Google-s-BERT-and-LSTM-models" target="_blank"> <button type="button" class="btn btn-outline-light github" style="margin: 0.5% 0%;">
                      <i class="fa-brands fa-github github fa-xl"></i></button>  </a>
              </p>
                 
              <p class="card-text">
                <small class="text-body-secondary">
              
                    
              </small></p>
            </div>
          </div>
        </div>
      </div>
</div>
        </div>
    </section>
<%- include("partials/footers.ejs") %>