
#dycalendar table tr:nth-child(1) td:nth-child(1){
    background: #8f8f8f;
    color:#fff;
}
#dycalendar{
    width: 100%;
    padding: 20px 20px 0;
    
    /*This is where the color of the days comes in*/
    color: white;
}
/* .subbot{
    background-color: #121d32;
    color: white;
    padding: 2% 2%;
    border-radius: 5%;
    outline: none;
} */
.tap-box{
    width: 450px;
    border-radius: 10px;
    resize: none;
    font-family: 18px;
    outline:none;
    background-color: #121d32;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.text-boxe{
    text-align: center;
    background-color: #121d32;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.1);
    font-family: 18px;
    outline:none;
    padding: 1% 4%;
    border-radius: 10px;

}
.dycalendar-month-container .dycalendar-target-date{
    background: #fff !important;
    color:#000 !important;
}
.price{
    display: none;
}
#dycalendar table tr:nth-child(1) td{
    background: #fff;
    color:#000;
    border-radius: 5px;
    font-size: 1.25em;
    padding: 0% 3%;
  
}
#dycalendar table td {
    color:white;
    cursor: pointer;
  
}
.contactor{
    margin-top: 12%;
    font-family: 'Clash Display', sans-serif;
}
/* body{
overflow-x: hidden;
} */
.tolu-format{
    box-shadow: 5px 0 10px 5px #ccc;
    padding: 10% 4%;
    margin: 0% 5%;
    width: 80%;
}
.rowcall{
    padding-top: 2%;
    padding-bottom: 2%;

}
.conta:hover{
    color: white;
}
.flood{
    width: 100%;
    padding: 2% 1%;
    margin: 2% 0%;


}
.flooder{
    width: 100%;
padding: 4% 1%;

}
.floyd{
    margin-left: 3%;
}
.contact-me-content{
    padding: 4% 0%;
}
.contact-me{
    padding: 2% 5%;
}
.navbar-nav{
    padding: 1% 10%;
    padding-bottom: 0%;
   
}
.skiller{
    font-family: 'Clash Display', sans-serif;
    text-align: center;
    padding: 1.5% 0%;
}
.sub{
    color: white;
    padding: 2.5vh 2.5vw;
    transition: padding 0.2s ease   ;
    animation-name: suber;
    animation-duration: 4s;
    animation-iteration-count:initial;
    margin-left: 2vw;
}
.project-explore{
    background-color: rgb(27, 28, 29);
}
.project-explore:hover{
    /* transition: padding 0.2s ease ; */
    animation-name: submax;
    animation-duration: 3s;
    animation-iteration-count:infinite;
 animation-direction: alternate-reverse;
}
@keyframes submax{
    0%{transform:scale(0.9);}
    100%{transform:scale(1);}

}
@keyframes suber{
    0%{transform:scale(0.3);}
    100%{transform:scale(1.1);}

}


#myNavbar.scrolled {
    background-color: white;
    box-shadow: 5px 0 10px 0 #ccc;
    padding: 0.5% 0%;
  }
  .boxboy{
    box-shadow: 5px 0 10px 0 #ccc;
  }
  #myNavbar.scrolled .navbar-brand,
  #myNavbar.scrolled .nav-link {
    color: black;
  }
.navbar-brand{
    padding: 1% 5%;
    padding-bottom: 0%;
    color: white;
    font-family: "Montserrat";
    letter-spacing: 5px;
    font-family: 'Clash Display', sans-serif;
}
.navbar-brand:hover{
    color: white;
}
.textfor:hover{
    color: black;
}
.textfor{
    color: #8f8f8f;
}
.nav-item{
    padding: 0% 2%;
}
.name{
    font-family: "lato", sans-serif;
    font-weight: 900;
}
.timeline {
    position: relative;
  }
  
  .timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px; /* Adjust the distance from the left as needed */
    bottom: 0;
    width: 2px; /* Adjust the width of the vertical line as needed */
    background-color: #000; /* Adjust the color of the vertical line as needed */
  }
  
  .timeline .position-relative {
    padding-left: 40px; /* Adjust the padding to create space for the icon */
    margin-bottom: 20px; /* Adjust the margin as needed */
    position: relative; /* Add position: relative to the timeline items */
  }
  .works{
    padding: 3% 0%;
  }
  
.navbar{
    background-color: black;
    color: white;
}
.fa-brands{
    padding: 0% 3%;
    margin-top: 4%;
    color: #8f8f8f;
}
.fa-solid{
    padding: 0% 3%;
    margin-top: 4%;
    color: #8f8f8f;
}
.together{
    display: flex; flex-direction: row;
}

.fa-brands:hover{
    color: white;
}
.fa-solid:hover{
    color: white;
}
.cont:hover{
    color: #000;
}
a{
    text-decoration: none;
}
.powergrid{
    padding-right: 30%;
}
.first-image{
    width: 80%;
    height: 80%;
    margin-top: 0%;
    border-radius: 3%;
    z-index: 2;
}
.error-man{
    margin: 50% 0%;
}
.nav-link{
    color: white;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Clash Display', sans-serif;
}
.nav-link:hover{
    color:  #8f8f8f;
}
.project-head{
    background-color: black;
     color:white;
      padding-top: 10%;
       text-align: center;
       font-family: 'Clash Display', sans-serif;
}
.project-second{
    padding-top: 0%;
    background-color: black;
    font-family: 'Clash Display', sans-serif;
}
.gogo{
   transform: scale(0.5);
}
.stap{
    color: #8f8f8f;
   font-family: 'Clash Display', sans-serif;
    letter-spacing: 0px;
    font-size: 1.4rem;
    padding: 1% 0%;
}
.staped{
    color: white;
    font-size: 1.1rem;
    letter-spacing: 0px;
    font-family: " Roboto Mono", monospace;
    font-family: 'Clash Display', sans-serif;
}
.ball{
    color: white;
    background-color: white;
}
.first-section{
    background-color: black;
 border-bottom-left-radius : 8px;
 border-bottom-right-radius : 8px;
 
 /* --tw-bg-opacity: 1;
 background-color: rgb(23 23 23/var(--tw-bg-opacity)); */
}
.card{
    transform: scale(0.9);
}
.Second-Section{
    --tw-bg-opacity: 1;
 background-color: rgb(23 23 23/var(--tw-bg-opacity));
 color: white;
 margin-top: 5%;
 background-color: black;
 font-family: 'Clash Display', sans-serif;
 border-top-left-radius : 8px;
 border-top-right-radius : 8px;
 border-bottom-left-radius : 8px;
 border-bottom-right-radius : 8px;
 padding-bottom: 2%;
}
.third-section{
    background-color: black;
    margin-top: 5%;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.about-title{
    padding-left: 5%;
    padding-top: 2%;
}
.compose-form{
    padding-top: 15%;
    margin: 0% auto;
    text-align: center;
}
.about-content{
    padding: 0% 5%;  
}
.skills-title{
color: white;
text-align: center;
}
article{
    font-family: 'Clash Display', sans-serif;
}
.bot{
    background-color: black;
    border: 1px solid white;
    color: white;
}
.accomplishment-content{
    text-align: center;
    --tw-bg-opacity: 1;
    background-color: rgb(248 248 248/var(--tw-bg-opacity));
    padding: 5% 9%;
    margin: 1% 3%;
    color: black;
  }
.accomplishment{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 4%;
    }
    .podcast{
        display: none;
    }
    .skill{
        --tw-bg-opacity: 1;
    background-color: rgb(248 248 248/var(--tw-bg-opacity));
    }
.mag{
    --tw-bg-opacity: 1;
    background-color: rgb(23 23 23/var(--tw-bg-opacity));
}
.github:hover{
    color: #000;
  }
  .submax{
    margin: 0% 5%;

  }
  .admob{
    color: red;
    animation:  shake .2s ease-in-out;
}
.bloge:hover{
    color:#000;
}
.skiller{
    margin: 0% 1.5%;
}
.phoner{
padding: 10% 1%;
}
@keyframes shake{
    from{transform: translateX(-50px);}
    to{transform: translateX(50px);}

}
  @media (max-width: 912px){
    /* . */
    .first-image{
        display: none;
    }
    .submax{
       margin: 0% 10%;
    }
    .box{
        display: none;
    }
}
@media (max-width: 820px){
    .first-image{
        display: none;
    }
    .tolu-format{
        width: 100%;
    }
    .powergrid{
       
        padding-right: 10%;
    }
    .accomplishment{
        margin-left: 2%;
    }
    .accomplishment-content{
        padding: 5% 7%;
    }
    .tolu-format{
        padding: 5% 10%;
        width:80%;
    }
    .apple-pad{
        display: none;
    }
    .project-explore:hover{
        /* transition: padding 0.2s ease ; */
        animation-name: submax;
        animation-duration: 0s;
        animation-iteration-count: 0;
        animation-timing-function: ease 0s;
    }
    @keyframes submax{
        0%{transform:scale(1);}
        100%{transform:scale(1);}
    }
    .submax{
        margin: 0% 15%;
     }
     .box{
        display: none;
    }
}
/*Iphone, pixel and samsung*/
@media (max-width: 768px){
    .first-image{
        display: none;
    }
    .powergrid{
        padding-right: 10%;
        color: white;
    }
    .nav-link{
        color: white;
    }
    .iphone-12-fix{
        display: flex; 
        flex-direction: row;
    }
    .together{
        display: flex; flex-direction: row;
    }
    .accomplishment{
        margin-left: 2%;
    }
    .accomplishment-content{
        padding: 5% 7%;
    }
    .apple-pad{
        display: none;
    }
    .project-explore:hover{
        /* transition: padding 0.2s ease ; */
        animation-name: submat;
        animation-duration: 0s;
        animation-iteration-count:0;
        animation-timing-function: ease 0s;
    }
    .tolu-format{
        width: 100%;
        margin: 0% 5%;
        width: 80%;
        padding: 5% 3%;
    }
    .floyd{
        width: 100%;
    }
    .submax{
        margin: 0% 10%;
    }
    @keyframes submax{
        0%{transform:scale(1);}
        100%{transform:scale(1);}
    }
    .box{
        display: none;
    }
}
@media (max-width: 767px){
    .nav-link{
      text-align: center;
    }
    .form-containerer{
        margin: auto 5%;
    }
    .tap-box{
        width: 300px;
    }
    .first-image{
      display: none;
    }
    .error-man{
        margin: 50% 0%;
    }
    .floyd{
        width: 100%;
    }
    .price{
display: block;
    }
  
    .tolu-format{
        padding: 8% 5%;
    }
    .staped{
        font-size: 1rem;
    }
    .powergrid{
        padding-right: 10%;
        background-color: white;
        color: black;
    }
    .nav-link{
        color: black;
    }
    .tolu-format{
        width: 100%;
    }
    .iphone-12-fix{
        display: flex; 
        flex-direction: row;
    }
    .accomplishment{
        margin-left: 2%;
    }
    .phone-again{
        padding-top: 2%;
    }
    .gogo{
  padding: 0% 0%;
     }
     .project-explore:hover{
        /* transition: padding 0.2s ease ; */
        animation-name: submax;
        animation-duration: 0s;
        animation-iteration-count: 0;
        animation-timing-function: ease 0s;
    }
    @keyframes submax{
        0%{transform:scale(1);}
        100%{transform:scale(1);}
    }
   .card{
    transform: scale(1);
   }
   .submax{
    margin: 0% 5%;
}
.box{
    display: none;
}
}
@media (max-width: 360px){
    .iphone-12-fix{
        display: flex; 
        flex-direction: row;
        justify-content: center;
    }
    .box{
        display: none;
    }
}
